{% extends 'layout.html' %}
{% block contenido %}
  <div style="margin-top: 10px;"></div>

  <h2>Mis Conversaciones</h2>

  <div class="alert alert-primary d-flex align-items-center" role="alert" style= "width: 100vw; height: 7vh;">
    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:" style="width: 5vw; height: 5vh">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </svg>
        <div>
        Puedes desactivar los mensajes de desconocidos (personas que no sigues) desde editar perfil.
        </div>
  </div>

  <div style="margin-top: 10px;"></div>

  {% if conversaciones %}
    <div class="card text-white bg-primary mb-3" style="max-width: 100rem; border: 2px solid white;">
        <div class="card-body" style="display: grid; grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); gap: 20px; background-color: #25509a;">
            {% for conversacion in conversaciones %}
                <div class="perfil-card" style="background-color: rgb(69, 130, 236); max-width: 25rem; border-radius: 8px; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2), -5px -5px 15px rgba(255, 255, 255, 0.1); padding: 15px; display: flex; align-items: center; border: 2px solid white;">
                    {% if conversacion.emisor == request.user %}
                        <div class="user-image" style="margin-right: 15px;">
                            <img class="rounded-circle" style="width: 100px; height: 100px; object-fit: cover; border: 2px solid white;" src="{{conversacion.destinatario.profile.image.url}}">
                        </div>
                        <div style="flex-grow: 1;">
                            <a href="{% url 'mensajes' username=conversacion.destinatario.username %}" style="color: white; font-size: 20px;">{{ conversacion.destinatario.username }}</a>
                            <p style="font-size: 18px;">Ultimo mensaje: {{ conversacion.ultimo_mensaje|slice:":20" }}{% if conversacion.ultimo_mensaje|length > 20 %}...{% endif %}</p>
                        </div>
                    {% else %}
                        <div class="user-image" style="margin-right: 15px;">
                                <img class="rounded-circle" style="width: 100px; height: 100px; object-fit: cover; border: 2px solid white;" src="{{conversacion.emisor.profile.image.url}}">
                        </div>
                        <div style="flex-grow: 1;">
                            <a href="{% url 'mensajes' username=conversacion.emisor.username %}" style="color: white; font-size: 20px;">{{ conversacion.emisor.username }}</a>
                            <p style="font-size: 18px;">Ultimo mensaje: {{ conversacion.ultimo_mensaje|slice:":20" }}{% if conversacion.ultimo_mensaje|length > 20 %}...{% endif %}</p>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

  {% else %}
    <p>No tienes conversaciones.</p>
  {% endif %}

{% endblock %}
