{% extends 'layout.html' %}
{% load static %}
{%block contenido%}
    <div class="feed-container">
        <h1 class="feed-title">Últimas Publicaciones</h1>
        <div class="header">
            <div class="header-buttons">
                <button onclick="window.location.href='/publicacion'">Crear Publicación</button>
            </div>
        </div>
        <div class="feed-posts">
            {% for post in lista_posts %}
                <div class="feed-post">
                    <div class="user-image">
                        <img src = "{{post.user.profile_set.get.image.url}}">
                    </div>
                <div class="post-content" enctype="multipart/form-data".>
                    <h3 class="post-user"> Usuario: <a href= /profile/{{post.user}}>{{post.user}}</a></h3>
                    <h3 class="post-title">{{ post.titulo }}</h3>
                    <p class="post-date">{{ post.fecha }}</p>
                    <p class="post-text">{{ post.texto }}</p>
                    {% if post.multimedia %}
                    <img class="post-multimedia" src="{{MEDIA_URL}}{{post.multimedia.url}}/" width="250" height="250">
                    {% endif %}
                    {% if post.video %}
                    <video class="post-video" src="{{MEDIA_URL}}{{post.video.url}}/" width="250" height="250" autoplay="autoplay">
                    {% endif %}
                </div>
                </div>
            {% endfor %}
        </div>
    </div>
{%endblock%}

