{% extends 'layout.html' %}
{% load static %}
{% block contenido %}
<link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.5.2/litera/bootstrap.min.css" rel="stylesheet" integrity="sha384-B5Fm9Pzr6Cs5fQvq2In6flB5Oj2w5M8c5Gh1Ff5f5Q2PnTk2I6ZdNPhjPZl36spw2" crossorigin="anonymous">
<body>
    <div style="margin-top: 10px;"></div>
    <div class="container">
        <h1 class="display-4">Feed</h1>
        <div class="row">
            <div class="col-md-6">
                <a href="/publicacion" class="btn btn-primary">Crear Publicación</a>
            </div>
            <div class="col-md-6">
                <!-- Agregar el formulario de búsqueda -->
                <form class="form-inline my-2 my-lg-0" method="GET">
                    <div class="input-group">
                        <input class="form-control" type="text" name="search" placeholder="Buscar" value="{{ request.GET.search }}">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div style="margin-top: 10px;"></div>
        <div class="card text-white mb-3" style="max-width: 100rem; border: 2px solid white; margin: 10px; background-color: #25509a;">
            <div class="card-body">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                  <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked="">
                  <label class="btn btn-outline-primary" for="btnradio1">Para Ti</label>
                  <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                  <label class="btn btn-outline-primary" for="btnradio2">Seguidos</label>
                </div>
                <div id="para-ti-section">
                    <div style="margin-top: 10px;"></div>
                    {% if search_query %}
                        <h2>Resultados de búsqueda para "{{ search_query }}"</h2>
                    {% endif %}
                    {% if search_posts %}
                        {% for post in search_posts %}
                            <!-- Mostrar resultados de búsqueda -->
                            <!-- ... (código de visualización de resultados de búsqueda) ... -->
                            <div class="card text-white bg-primary mb-3" style="border: 2px solid white; ">
                                <div class="card-body">
                                    <div class="user-content">
                                        <div class="user-image">
                                            <img class="rounded-circle" style="width: 100px; height: 100px; object-fit: cover; border: 2px solid white; float: left; margin-right: 10px;" src="{{post.user.profile_set.get.image.url}}">
                                        </div>
                                        <div class="user-info" style="float: left; margin-top: 30px;">
                                            <h3 class="post-user">Usuario: <a href="/profile/{{post.user}}" style="color: white;">{{post.user}}</a></h3>
                                        </div>
                                        <div style="clear: both;"></div>
                                    </div>
                                    <div style="margin-top: 10px;"></div>
                                    <div class="post-content" enctype="multipart/form-data".>
                                        <h3 class="post-title">{{ post.titulo }}</h3>
                                        <p class="post-date">{{ post.fecha }}</p>
                                        <p class="post-text">{{ post.texto }}</p>
                                        {% if post.multimedia %}
                                        <img class="post-multimedia" src="{{MEDIA_URL}}{{post.multimedia.url}}" width="250" height="250">
                                        {% endif %}
                                        {% if post.video %}
                                        <video class="post-video" src="{{MEDIA_URL}}{{post.video.url}}" width="250" height="250" controls>
                                        {% endif %}
                                    </div>
                                    <h4>Comentarios:</h4>
                                    <a href="{% url 'add_comment' post.id %}" class="btn btn-primary" style="background-color: #25509a; margin: 10px;";>Agregar Comentario</a>
                                    <!-- Bucle para mostrar los comentarios de la publicación actual -->
                                    {% for comment in comments %}
                                        {% if comment.post == post %}
                                        <div class="card text-white bg-secondary mb-3" style="border: 2px solid white; ">
                                            <div class="card-body" style="background-color: #25509a;">
                                                <p class="comment-title"> <b><a href="/profile/{{post.user}}" style="color: #a6a7a8;">{{comment.user}}</a></b> El {{ comment.fecha }} </p>
                                                <p class="comment-text">{{ comment.texto }}</p>
                                            </div>
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        {% for post in all_posts %}
                            <div class="card text-white bg-primary mb-3" style="border: 2px solid white; ">
                                <div class="card-body">
                                    <div class="user-content">
                                        <div class="user-image">
                                            <img class="rounded-circle" style="width: 100px; height: 100px; object-fit: cover; border: 2px solid white; float: left; margin-right: 10px;" src="{{post.user.profile_set.get.image.url}}">
                                        </div>
                                        <div class="user-info" style="float: left; margin-top: 30px;">
                                            <h3 class="post-user">Usuario: <a href="/profile/{{post.user}}" style="color: white;">{{post.user}}</a></h3>
                                        </div>
                                        <div style="clear: both;"></div>
                                    </div>
                                    <div style="margin-top: 10px;"></div>
                                    <div class="post-content" enctype="multipart/form-data".>
                                        <h3 class="post-title">{{ post.titulo }}</h3>
                                        <p class="post-date">{{ post.fecha }}</p>
                                        <p class="post-text">{{ post.texto }}</p>
                                        {% if post.multimedia %}
                                        <img class="post-multimedia" src="{{MEDIA_URL}}{{post.multimedia.url}}" width="250" height="250">
                                        {% endif %}
                                        {% if post.video %}
                                        <video class="post-video" src="{{MEDIA_URL}}{{post.video.url}}" width="250" height="250" controls>
                                        {% endif %}
                                    </div>
                                    <h4>Comentarios:</h4>
                                    <a href="{% url 'add_comment' post.id %}" class="btn btn-primary" style="background-color: #25509a; margin: 10px;";>Agregar Comentario</a>
                                    {% for comment in comments %}
                                        {% if comment.post == post %}
                                        <div class="card text-white bg-secondary mb-3" style="border: 2px solid white; ">
                                            <div class="card-body" style="background-color: #25509a;">
                                                <p class="comment-title"> <b><a href="/profile/{{post.user}}" style="color: #a6a7a8;">{{comment.user}}</a></b> El {{ comment.fecha }} </p>
                                                <p class="comment-text">{{ comment.texto }}</p>
                                            </div>
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div id="seguidos-section" style="display: none;">
                    <div style="margin-top: 10px;"></div>
                    {% if search_query %}
                        <h2>Resultados de búsqueda para "{{ search_query }}"</h2>
                    {% endif %}
                    {% if search_posts %}
                        {% for post in search_posts_followed %}
                            <div class="card text-white bg-primary mb-3" style="border: 2px solid white; ">
                                <div class="card-body">
                                    <div class="user-content">
                                        <div class="user-image">
                                            <img class="rounded-circle" style="width: 100px; height: 100px; object-fit: cover; border: 2px solid white; float: left; margin-right: 10px;" src="{{post.user.profile_set.get.image.url}}">
                                        </div>
                                        <div class="user-info" style="float: left; margin-top: 30px;">
                                            <h3 class="post-user">Usuario: <a href="/profile/{{post.user}}" style="color: white;">{{post.user}}</a></h3>
                                        </div>
                                        <div style="clear: both;"></div>
                                    </div>
                                    <div style="margin-top: 10px;"></div>
                                    <div class="post-content" enctype="multipart/form-data".>
                                        <h3 class="post-title">{{ post.titulo }}</h3>
                                        <p class="post-date">{{ post.fecha }}</p>
                                        <p class="post-text">{{ post.texto }}</p>
                                        {% if post.multimedia %}
                                        <img class="post-multimedia" src="{{MEDIA_URL}}{{post.multimedia.url}}" width="250" height="250">
                                        {% endif %}
                                        {% if post.video %}
                                        <video class="post-video" src="{{MEDIA_URL}}{{post.video.url}}" width="250" height="250" controls>
                                        {% endif %}
                                    </div>
                                    <h4>Comentarios:</h4>
                                    <a href="{% url 'add_comment' post.id %}" class="btn btn-primary" style="background-color: #25509a; margin: 10px;";>Agregar Comentario</a>
                                    {% for comment in comments %}
                                        {% if comment.post == post %}
                                        <div class="card text-white bg-secondary mb-3" style="border: 2px solid white; ">
                                            <div class="card-body" style="background-color: #25509a;">
                                                <p class="comment-title"> <b><a href="/profile/{{post.user}}" style="color: #a6a7a8;">{{comment.user}}</a></b> El {{ comment.fecha }} </p>
                                                <p class="comment-text">{{ comment.texto }}</p>
                                            </div>
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        {% for post in followed_posts %}
                            <div class="card text-white bg-primary mb-3" style="border: 2px solid white; ">
                                <div class="card-body">
                                    <div class="user-content">
                                        <div class="user-image">
                                            <img class="rounded-circle" style="width: 100px; height: 100px; object-fit: cover; border: 2px solid white; float: left; margin-right: 10px;" src="{{post.user.profile_set.get.image.url}}">
                                        </div>
                                        <div class="user-info" style="float: left; margin-top: 30px;">
                                            <h3 class="post-user">Usuario: <a href="/profile/{{post.user}}" style="color: white;">{{post.user}}</a></h3>
                                        </div>
                                        <div style="clear: both;"></div>
                                    </div>
                                    <div style="margin-top: 10px;"></div>
                                    <div class="post-content" enctype="multipart/form-data".>
                                        <h3 class="post-title">{{ post.titulo }}</h3>
                                        <p class="post-date">{{ post.fecha }}</p>
                                        <p class="post-text">{{ post.texto }}</p>
                                        {% if post.multimedia %}
                                        <img class="post-multimedia" src="{{MEDIA_URL}}{{post.multimedia.url}}" width="250" height="250">
                                        {% endif %}
                                        {% if post.video %}
                                        <video class="post-video" src="{{MEDIA_URL}}{{post.video.url}}" width="250" height="250" controls>
                                        {% endif %}
                                    </div>
                                    <h4>Comentarios:</h4>
                                    <a href="{% url 'add_comment' post.id %}" class="btn btn-primary" style="background-color: #25509a; margin: 10px;";>Agregar Comentario</a>
                                    {% for comment in comments %}
                                        {% if comment.post == post %}
                                        <div class="card text-white bg-secondary mb-3" style="border: 2px solid white; ">
                                            <div class="card-body" style="background-color: #25509a;">
                                                <p class="comment-title"> <b><a href="/profile/{{post.user}}" style="color: #a6a7a8;">{{comment.user}}</a></b> El {{ comment.fecha }} </p>
                                                <p class="comment-text">{{ comment.texto }}</p>
                                            </div>
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const paraTiSection = document.getElementById('para-ti-section');
            const seguidosSection = document.getElementById('seguidos-section');

            document.querySelectorAll('.btn-check').forEach(function (btn) {
                btn.addEventListener('change', function () {
                    if (btn.id === 'btnradio1') {
                        paraTiSection.style.display = 'block';
                        seguidosSection.style.display = 'none';
                    } else if (btn.id === 'btnradio2') {
                        paraTiSection.style.display = 'none';
                        seguidosSection.style.display = 'block';
                    }
                });
            });
        });
    </script>
</body>
{% endblock %}
