{% extends 'layout.html'%}
{% load static %}
{% block contenido %}
    <link rel="stylesheet" type="text/css" href='{% static "css/style_layout.css"%}'>
    <div class="banner">
        <div class="logo">
            <img id="LogoPagina" src='{% static "css/images/logo.png"%}' alt="LogoFSN">
        </div>
        <h1 class="tittle" data-text="bannerPrincipal"><i class="fa fa-futbol-o"></i>Bienvenido a FutbolScoutNet.com!</h1>
    </div>
    <div class="banner-buttons">
        <a class="news-button" href="/feed/">Accede a las últimas publicaciones</a>
        <a class="news-button" href="/listado-perfiles/">Lista de Perfiles</a>
    </div>
{% endblock %}
