{% extends 'layout.html' %}
{% load static %}
{% block contenido %}
<body>
    <div class="feed-container">
        <div class="content">
            <div class="filter-container">
                <form method="get">
                    <label for="edad">Filtrar por edad:</label>
                    <input type="number" name="edad" id="edad" value="{{ request.GET.edad }}">

                    <label for="nivel">Filtrar por nivel:</label>
                    <select name="nivel" id="nivel">
                        <option value="">Todos</option>
                        {% for nivel_obj in niveles %}
                            <option value="{{ nivel_obj.nombre }}" {% if nivel_obj.nombre == request.GET.nivel %}selected{% endif %}>{{ nivel_obj.nombre }}</option>
                        {% endfor %}
                    </select>

                    <label for="posicion">Filtrar por posición:</label>
                    <select name="posicion" id="posicion">
                        <option value="">Todas</option>
                        {% for posicion_obj in posiciones %}
                            <option value="{{ posicion_obj.nombre }}" {% if posicion_obj.nombre == request.GET.posicion %}selected{% endif %}>{{ posicion_obj.nombre }}</option>
                        {% endfor %}
                    </select>

                    <button type="submit">Aplicar Filtros</button>
                </form>
            </div>

            <div class="feed-container" id="inicio-content">
                <div class="lista-perfiles">
                    {% for perfil in lista_perfiles %}
                        <!-- Código para mostrar la lista de perfiles -->
                        <div class="perfil">
                            <div class="user-image">
                                <img src="{{perfil.image.url}}">
                            </div>
                            <div class="datos-perfil">
                                <h3 class="perfil-user">Usuario: <a href="/profile/{{perfil.user}}">{{perfil.user}}</a></h3>
                                <h3 class="perfil-user">Posicion: {{perfil.posicion}}</h3>
                                <h3 class="perfil-user">Nivel: {{perfil.nivel}}</h3>
                                <h3 class="perfil-user">Edad: {{perfil.edad}}</h3>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
