{% extends 'layout.html' %}
{% block contenido %}
  {% if conversacion %}
    <h2>Conversación con {{ conversacion.user_uno.username }} y {{ conversacion.user_dos.username }}</h2>

    <!-- Lista de mensajes -->
    <ul>
      {% for mensaje in mensajes %}
        <li>{{ mensaje.user.username }}: {{ mensaje.texto }}</li>
      {% endfor %}
    </ul>

    <!-- Formulario para enviar mensajes -->
    <form method="post" action="{% url 'mensajes' username=conversacion.user_dos.username %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Enviar mensaje</button>
    </form>
  {% else %}
    <p>No hay conversación disponible.</p>
  {% endif %}
{% endblock %}

