{% extends 'layout.html' %}
{% load static %}
{% block contenido %}

     <div class="card text-white mb-3" style="max-width: 100rem; border: 2px solid white; margin: 10px; background-color: #25509a;">
            <h1> Mensajes recibidos</h1>
            <div class="card-body">
                <div style="margin-top: 10px;"></div>
                {% for mensaje in mensajes_recibidos %}
                    <div class="card text-white bg-primary mb-3" style="border: 2px solid white;">
                        <div class="card-body">
                            <li>{{ mensaje.contenido }} - Enviado por: <a href="/profile/{{mensaje.receptor.username}}" style="color: white;">{{mensaje.receptor.username}}</a> </li>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
     </div>

    <div style="margin-top: 10px;"></div>

    <div class="card text-white mb-3" style="max-width: 100rem; border: 2px solid white; margin: 10px; background-color: #25509a;">
        <h1> Mensajes enviados</h1>
        <div class="card-body">
            <div style="margin-top: 10px;"></div>
            {% for mensaje in mensajes_enviados %}
                <div class="card text-white bg-primary mb-3" style="border: 2px solid white;">
                    <div class="card-body">
                        <li>{{ mensaje.contenido }} - Enviado a: <a href="/profile/{{mensaje.receptor.username}}" style="color: white;">{{mensaje.receptor.username}}</a> </li></li>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
