{% extends 'base.html' %}
{% block title %}Creación de publicación{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href='{% static "css/style_create_post.css"%}'>
  <div class="create-post-container">
    <h2>Cargue los datos de la publicación</h2>
    <form method="post" class="create-post-form" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form_post.as_p }}
      <button type="submit">Enviar</button>
    </form>
  </div>
{% endblock %}
