{% extends 'layout.html'%}
{% load static %}
{% block contenido %}
<div class="custom-background">
    <div class="custom-container">
        <div class="custom-header" href="https://django-futbolscoutnet-files.s3.amazonaws.com/media/default_background.jpg">
            <img class="custom-avatar" src='{{user.profile_set.get.image.url}}'>
            <h1 class="custom-user-name">{{ user.username }}</h1>
            <div class="custom-header-buttons">
                {% if user == request.user %}
                    <button class="custom-edit-button" onclick="window.location.href='/profile-edit/{{user}}'">Editar perfil</button>
                {% endif %}
            </div>
        </div>
        <ul class="custom-user-info">
            <li>
                <h3> Usuario: {{user.username}}</h3>
            </li>
            <li>
                <h3> Posicion: {{profile.posicion}}</h3>
            </li>
            <li>
                <h3> Nivel: {{profile.nivel}}</h3>
            </li>
            <li>
                <h3> Edad: {{profile.edad}}</h3>
            </li>
        </ul>
        <div class="custom-descripcion">
            <h3>Acerca de: </h3>
            <p>
                Descripcion del jugador
            </p>
        </div>
        <div class="custom-posteos">
            <h3>Posts de {{ user.username }}:</h3>
            <div class="custom-post-container" encrypte="multipart/from-data">
                {% for post in posts %}
                    <div class="custom-user-post">
                    <div class="custom-post-content">
                        <h3 class="custom-post-title">{{ post.titulo }}</h3>
                        <p class="custom-post-date">{{ post.fecha }}</p>
                        <p class="custom-post-text">{{ post.texto }}</p>
                        {% if post.multimedia %}
                        <img class="custom-post-multimedia" src="{{MEDIA_URL}}{{post.multimedia.url}}" width="300" height="300">
                        {% endif %}
                    </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
