{% block content %}
{% load static %}
<head>
	<title>Mi Perfil</title>
	<link rel="stylesheet" type="text/css" href='{% static "css/style_profile.css"%}'>
</head>
<body>
    <div class="background"></div>
    <div class="container">
        <div class="header" style="background-image: url('/media/default_background.jpg');">
            <img class="avatar" src={{user.profile_set.get.image.url}}>
            <h1 class="user-name">{{ user.username }}</h1>
            <div class="header-buttons">
                {% if user == request.user %}
                    <button onclick="window.location.href='/profile-edit/{{user}}'"{{user}}>Editar perfil</button>
                {% endif %}
            </div>
        </div>
        <ul>
            <li>
                <h3> Usuario: {{user.username}}</h3>
            </li>
            <li>
                <h3> Posicion: {{profile.posicion}}</h3>
            </li>
            <li>
                <h3> Nivel: {{profile.nivel}}</h3>
            </li>
            <li>
                <h3> Edad: {{profile.edad}}</h3>
            </li>
        </ul>
        <div class="descripcion">
            <h3>Acerca de: </h3>
            <p>
                Descripcion del jugador
            </p>
        </div>
        <div class="posteos">
            <h3>Posts de {{ user.username }}:</h3>
            <div class="posteos" encrypte="multipart/from-data">
                {% for post in posts %}
                    <div class="user-post">
                    <div class="post-content">
                        <h3 class="post-title">{{ post.titulo }}</h3>
                        <p class="post-date">{{ post.fecha }}</p>
                        <p class="post-text">{{ post.texto }}</p>
                        {% if post.multimedia %}
                        <img class="post-multimedia" src="/media/{{post.multimedia}}/">
                        {% endif %}
                    </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

{% endblock %}