@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

body {
    margin: 0;
    min-height: 100vh;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-title {
    font-size: 2em;
    color: #007bff;
    margin-bottom: 20px;
    text-decoration: none;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #222; /* Mismo color de fondo que la página */
    z-index: -1;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    width: 80%; /* Puedes ajustar este valor según tus necesidades */
    max-width: 1200px; /* Limitar el ancho máximo del contenido */
    position: relative;
    z-index: 1;
}

.header{
    text-align: center;
    height: 300px;
    padding: 12px;
    background-image: url("https://www.mikebonnell.com/content/051/MikeBonnell_051_W0800.jpg");
    padding: 0%;
    border: 1px solid black; /* Agrega esta línea para el borde negro */
    border-radius: 10px; /* Agrega esta línea para redondear los bordes */
}
.avatar{
    width: 200px;
    height: 200px;
    border-radius: 50px;
    display: block;
    margin: 0 auto;
}
.user-name{
    font-size: 18px;
    margin-top: 14px;
    color: rgba(255, 255, 255, 0.651)
}
.descripcion {
    margin-top: 20px;
}
  
.posteos {
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}