@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Condensed', sans-serif;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: #222;
    color: white;
}

/* NAV BAR*/

.navbar {
    background-color: #4290FF;
    height: 60px;
    /* Altura fija */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
    /* Espaciado interno */
    display: flex;
    align-items: center;
    z-index: 1000;
    margin-bottom: 5px;
    /* Asegura que la barra de navegación esté en la parte superior */
}

.nav-button {
    height: 4%;
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 0 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.nav-button:hover {
    background-color: black;
    color: white;
}

/* LANDING PAGE*/

.banner {
    position: relative;
    margin-top: 100px;
    /* Espacio para la barra de navegación */
    min-height: 80vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: #333;
    /* Fondo más oscuro */
}

.banner-buttons {
    margin-top: 20px;
    text-align: center;
}

.banner .tittle {
    position: relative;
    margin: 0;
    padding: 0 30px;
    font-size: 3em;
    color: #fff;
    text-shadow: 0 0 20px #29dbffb2;
    text-align: center;
}

.banner-buttons {
    margin-top: 20px;
    text-align: center;
    /* Alineación centrada de los botones debajo del logo */
}

.news-button,
.auth-button {
    background-color: #4290FF;
    /* Color para los botones */
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.3);
    /* Sombras */
    text-decoration: none;
    /* Elimina el subrayado del enlace */
    margin: 5px;
}

/* Cambia el estilo del enlace dentro del botón */
.news-button a,
.auth-button a {
    color: black;
    text-decoration: none;
    /* Elimina el subrayado del enlace */
}

#LogoPagina {
    display: block;
    margin: 0 auto;
}

/* FEED */

.header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.header-buttons button {
    margin-right: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    width: 200px;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.header-buttons button:hover {
    background-color: #0056b3;
}

.feed-container {
    width: 80%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow:
        5px 5px 5px rgba(0, 0, 0, 0.2),
        -5px -5px 15px rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.feed-title {
    font-size: 2em;
    color: #007bff;
    margin-bottom: 20px;
    text-decoration: none;
}

.feed-post {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.post-user{
    color: #222;
}

.post-title {
    font-size: 1.5em;
    color: #222;
    margin-bottom: 5px;
}

.post-date {
    color: #888;
    margin-bottom: 10px;
}

.post-text {
    color: #333;
}

.feed-post {
    display: flex;
    /* Cambio a flex para alinear contenido */
    align-items: flex-start;
    /* Alineación vertical */
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos para la imagen de usuario */
.user-image {
    margin-right: 15px;
    /* Espacio entre la imagen y el contenido */
}

.user-image img {
    max-width: 100px;
    /* Tamaño máximo de la imagen de usuario */
    border-radius: 50%;
    /* Para hacerla redonda */
}

/* Estilos para el contenido de la publicación */
.post-content {
    flex: 1;
    /* Que el contenido ocupe el espacio restante */
}

/* PROFILES LIST*/

/* PROFILES LIST*/

.lista-perfiles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.perfil {
    background-color: #fff;
    border-radius: 8px;
    box-shadow:
        5px 5px 5px rgba(0, 0, 0, 0.2),
        -5px -5px 15px rgba(255, 255, 255, 0.1);
    padding: 15px;
    display: flex;
    align-items: center;
}

.perfil-user {
    font-size: 1.2em;
    color: #333;
    margin-top: 10px;
}

.user-image {
    width: 80px; /* Ajusta el tamaño de la imagen según tus preferencias */
    height: 80px; /* Ajusta el tamaño de la imagen según tus preferencias */
    overflow: hidden;
    border-radius: 50%;
}

.user-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.datos-perfil {
    flex: 1;
}

/* Styles for the filter container */

.filter-container {
    background-color: #3235f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.filter-container form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.filter-container label {
    font-weight: bold;
    margin-right: 5px;
}

.filter-container input[type="number"],
.filter-container select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.filter-container button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-container button:hover {
    background-color: #0056b3;
}

/* Profile link style */

.perfil-user a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.perfil-user a:hover {
    color: #0056b3;
}
/* PROFILES */

/* Estilo personalizado para la página de perfil */
.custom-background {
    background-color: #222;
    display: grid;
    place-items: center;
    color: white;
    width: 100%;
    position: relative;
    margin-top: 5%;
}

.custom-container {
    width: 95%;
}

.custom-header {
    display: flex;
    flex-direction: column;
    /* Cambiar la dirección de flex a columna */
    align-items: center;
    /* Alinear los elementos al centro verticalmente */
    padding: 10px;
    background-image: url('/media/default_background.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    height: 30%;
    position: relative;
    overflow: hidden;
}

.custom-avatar {
    width: 200px;
    /* Ajustar el ancho de la foto de perfil */
    height: 200px;
    /* Ajustar la altura de la foto de perfil */
    border-radius: 100%;
    margin-bottom: 20px;
    /* Agregar espacio entre la foto de perfil y el nombre */
    border: 2px solid white;
    object-fit: cover;
    /* Evitar que la imagen se deforme */
}

.custom-user-name {
    font-size: 2em;
    color: white;
    margin: 0;
}

.custom-header-buttons {
    margin-top: 10px;
    /* Agregar espacio entre la foto de perfil y el botón */
}

.custom-edit-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-edit-button:hover {
    background-color: #0056b3;
}

.custom-user-info {
    list-style: none;
    padding: 0;
}

.custom-user-info h3 {
    font-size: 1.5em;
    margin: 10px 0;
    color: white;
}

.custom-descripcion {
    margin-top: 20px;
}

.custom-descripcion h3 {
    font-size: 1.5em;
    color: white;
    margin-bottom: 10px;
}

.custom-descripcion p {
    color: white;
}

.custom-posteos {
    margin-top: 20px;
    border: 2px solid white;
}

.custom-post-title {
    font-size: 1.5em;
    color: #007bff;
    margin-bottom: 5px;
}

.custom-post-date {
    color: #888;
    margin-bottom: 10px;
}

.custom-post-text {
    color: #ffffff;
}

.custom-post-multimedia {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 8px;
}