@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Permanent+Marker', sans-serif;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: #222;
}

p {
    color: #fff;
    position: absolute;
    text-align: center;
    font-size: 1.5cm;
    top: 45%;
    left: 10%;
}

.banner {
    position: relative;
    min-height: 80vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow:
        inset 5px 5px 5px rgba(0, 0, 0, 0.2),
        inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.3),
        -5px -5px 15px rgba(255, 255, 255, 0.1);
}

.banner .tittle {
    position: absolute;
    top: 15%;
    left: 58%;
    width: 1000px;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0 30px;
    font-size: 3em;
    color: #fff;
    text-shadow: 0 0 20px #29dbffb2;
}

.banner .tittle:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: -1;
    color: #29dbffb2;
    filter: blur(15px);
}

.banner .tittle:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #29dbffb2;
    z-index: -2;
    opacity: -5;
    filter: blur(40px);
}

.from-control {
    box-sizing: content-box;
    width: 95%;
    border: solid #29dbffb2 2px;
    padding: 5px;
}

#LogoPagina {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.news-button,
.auth-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 255, 0.3);
    /* Sombras azules */
    text-decoration: none;
    /* Elimina el subrayado del enlace */
    margin: 5px;
}

/* Cambia el estilo del enlace dentro del botón */
.news-button a,
.auth-button a {
    color: white;
    text-decoration: none;
    /* Elimina el subrayado del enlace */
}