@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Condensed', sans-serif;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: #222;
    color: white;
    /* Cambiar el color del texto a blanco */
}

.navbar {
    background-color: #4290FF;
    height: 50px;
    /* Altura fija */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
    /* Espaciado interno */
    display: flex;
    align-items: center;
}

.nav-button {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 0 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.nav-button:hover {
    background-color: black;
    color: white;
}

.banner {
    position: relative;
    margin-top: 100px;
    /* Espacio para la barra de navegación */
    min-height: 80vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: #333;
    /* Fondo más oscuro */
}

.banner-buttons {
    margin-top: 20px;
    text-align: center;
}

.banner .tittle {
    position: relative;
    margin: 0;
    padding: 0 30px;
    font-size: 3em;
    color: #fff;
    text-shadow: 0 0 20px #29dbffb2;
    text-align: center;
}

.banner-buttons {
    margin-top: 20px;
    text-align: center;
    /* Alineación centrada de los botones debajo del logo */
}
.news-button,
.auth-button {
    background-color: #4290FF;
    /* Color para los botones */
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.3);
    /* Sombras */
    text-decoration: none;
    /* Elimina el subrayado del enlace */
    margin: 5px;
}

/* Cambia el estilo del enlace dentro del botón */
.news-button a,
.auth-button a {
    color: black;
    text-decoration: none;
    /* Elimina el subrayado del enlace */
}

#LogoPagina {
    display: block;
    margin: 0 auto;
}