@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* Reset some default styles */
body,
html,
h1,
h2,
p,
form {
    margin: 0;
    padding: 0;
    font-family: 'Permanent+Marker', sans-serif;
}

/* Basic styling for the create post container */
.create-post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #222;
}

/* Center the create post form */
.create-post-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* Styling for the create post form */
.create-post-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.create-post-container h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #fff;
    background-color: #000;
    padding: 10px;
    border-radius: 5px;
}

/* Apply the same styles to all input fields */
.create-post-form input[type="text"],
.create-post-form input[type="textarea"] {
    margin-bottom: 15px;
    margin-left: -10px;
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Adjust the spacing for date input */
.create-post-form input[type="date"] {
    margin-bottom: 15px;
    margin-left: -10px;
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.create-post-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Add more margin below the button */
.create-post-form button {
    margin-top: 15px;
}

.create-post-form button:hover {
    background-color: #0056b3;
}