{% extends 'base.html' %}
{% block title %}Inicio de sesión{% endblock %}

{% block content %}
{% load static %}

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card text-white bg-primary mb-3" style="width: 400px; max-height: 400px; border: 2px solid white;">
        <h2 class="text-center">Inicia sesión</h2>
        <form method="post" class="login-form" style="margin-left: -15px;">
            {% csrf_token %}
            <div class="text-center">
                {{ form.as_p }}
                <button type="submit" class="btn btn-dark">Inicia sesión</button>
            </div>
            <div class="register-link text-center">
                <p>¿No tienes una cuenta? <a href="/registro/" style="color: white;">Regístrate aquí</a></p>
            </div>
        </form>
    </div>
</div>


{% endblock %}

