{% extends 'base.html' %}
{% block title %}Inicio de sesión{% endblock %}

{% block content %}
{% load static %}

<section class="vh-100 bg-image"
  style="background-image: url('https://i.pinimg.com/originals/a9/c6/44/a9c644e1d4ceb7a59a8c58c821b26fd4.jpg');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">Iniciar Sesión</h2>
                <form method="post" class="register-form" style="margin-left: 15px;">

                    <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example3cg">
                            {% csrf_token %}
                            {{ form.as_p }}
                        </label>
                    </div>

                    <div class="d-flex justify-content-center">
                    <button type="submit" id="submitButton" style="background-color: #4582ec;"
                        class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Iniciar Sesión</button>
                    </div>
            
                </form>

                <p class="text-center text-muted mt-5 mb-0">No tienes una cuenta? <a href="/registro/"
                    class="fw-bold text-body"><u>Registrarse</u></a></p>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock %}

