@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Permanent+Marker', sans-serif;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: #222;
}

.header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.header-buttons button {
    margin-right: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    width: 200px;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.header-buttons button:hover {
    background-color: #0056b3;
}

.feed-container {
    width: 80%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow:
        5px 5px 5px rgba(0, 0, 0, 0.2),
        -5px -5px 15px rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.feed-title {
    font-size: 2em;
    color: #007bff;
    margin-bottom: 20px;
    text-decoration: none;
}

.feed-post {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.post-title {
    font-size: 1.5em;
    color: #222;
    margin-bottom: 5px;
}

.post-date {
    color: #888;
    margin-bottom: 10px;
}

.post-text {
    color: #333;
}

.feed-post {
    display: flex;
    /* Cambio a flex para alinear contenido */
    align-items: flex-start;
    /* Alineación vertical */
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos para la imagen de usuario */
.user-image {
    margin-right: 15px;
    /* Espacio entre la imagen y el contenido */
}

.user-image img {
    max-width: 100px;
    /* Tamaño máximo de la imagen de usuario */
    border-radius: 50%;
    /* Para hacerla redonda */
}

/* Estilos para el contenido de la publicación */
.post-content {
    flex: 1;
    /* Que el contenido ocupe el espacio restante */
}

.navbar {
    background-color: lawngreen; /* Color de fondo de la barra */
    display: flex;
    justify-content: center; /* Centrar los elementos horizontalmente */
    align-items: center; /* Centrar los elementos verticalmente */
    padding: 10px 0; /* Espaciado interior de la barra */
}

/* Estilos para los enlaces en la barra de navegación */
.second-nav {
    display: flex;
    gap: 20px; /* Espacio entre los enlaces */
}









